<html>
    <head>
        <link rel = "stylesheet" href="static/style.css">
    </head>
    <body>
        <div class = "Signup">
            <h1>Sign up</h1>

            <form action="/home" method="post">
                <div class = "text">
                    <input type = "text" name ="fn" placeholder = "First Name">
                </div>

                <div class = "text">
                    <input type = "text" name ="ln" placeholder = "Last Name">
                </div>

                <div class = "text">
                    <input type = "text" name ="un" placeholder = "Username">
                </div>

                <div class = "text">
                    <input type = "email" name = "em" placeholder = "Email address">
                </div>

                <div class = "text">
                    <input type="password" name="pw" placeholder = "Password">
                </div>


                <p><input type="submit"></p>

                <div class="login">Already a member?
                    <a href="https://anfy333-code50-99250133-vjq7jgwv77p3prvq-5000.preview.app.github.dev/login"> Login </a>
                </div>

            </form>
        </div>
    </body>
</html>
